* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #414E55;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.calendar {
    width: 502px;
    min-height: 570px;
    background: white;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.2);
    padding: 30px;
}

.calendar_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.calendar_nav h3 {
    font-size: 24px;
    font-weight: 800;
}

.nav_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}


.prev_svg{
    transition: fill 0.3s;
}

.prev_btn:hover {
    fill: #AFAFAF;
}

.next_svg{
    transition: fill 0.3s;
}

.next_btn:hover {
    fill: #AFAFAF;
}

.week_list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.name_day_of_week {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.day_list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    width: max-content;
}

.day_list div:hover {
    background: #c8c8c8;
    color: black;
    cursor: pointer;
}

.today {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    border-left: 1px solid #DFDFDF;
    border-top: 1px solid #DFDFDF;
    background: #45539D;
    color: #fff;
    cursor: pointer;
}

.one_day {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    border-left: 1px solid #DFDFDF;
    border-top: 1px solid #DFDFDF;
}

.one_day_prev_month, .one_day_next_month{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    border-left: 1px solid #DFDFDF;
    border-top: 1px solid #DFDFDF;
    background: #F2F3F7;
    color: #A8A8A8;
}

.notes {
    width: 400px;
    min-height: 570px;
    background: white;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.2);
    padding: 30px;
}

.notes_nav {
    margin-bottom: 30px;
}

.notes_day {
    font-size: 24px;
    font-weight: 800;
}

#inputText {
    width: 100%;
    height: 200px;
    resize: none;
}

.addNote {
    width: 100px;
    height: 50px;
    font-weight: 400;
    background: #45539D;
    color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
}

#notesList {
    margin-top: 20px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

.note {
    display: flex;
    justify-content: space-between;
}